body {
    color: white margin 0;
    background-color: black;
}

.set {
    text-align: center;
    padding-top: 50px;
    font-size: 36px;
    font-weight: bold;
}

button {
    height: 300px;
    width: 60px;
    background-color: white;
    border-radius: 10px;
    padding-top: 200px;
}

.keyPress {
    transform: scale(1.05);
    border: 3px solid rgb(64, 134, 117);
}
